<%- include('../cabecalho.ejs') %>

<table border="1">
  <tr>
    <th>Miniatura</th>
    <th>Título</th>
    <th>Canal</th>
    <th>Duração</th>
    <th>Visualizações</th>
    <th>Upload</th>
    <th>Ações</th>
  </tr>
  <% videos.forEach(video => { %>
    <tr>
      <td>
        <% if (video.miniatura) { %>
          <img src="data:image/png;base64,<%= video.miniatura.toString('base64') %>" width="120" height="90">
        <% } else { %>
          <span>Sem imagem</span>
        <% } %>
      </td>
      <td><%= video.titulo %></td>
      <td><%= video.canal ? video.canal.nome : "Sem canal" %></td>
      <td><%= video.duracao %>s</td>
      <td><%= video.visualizacoes %></td>
      <td><%= video.upload.toLocaleDateString("pt-BR") %></td>
      <td>
        <a href="/youtube/edt/<%= video._id %>">Editar</a> |
        <a href="/youtube/del/<%= video._id %>">Excluir</a>
      </td>
    </tr>
  <% }) %>
</table>


<%- include('../rodape.ejs') %>