<%- include('../cabecalho.ejs') %>

<h1>Título</h1>

<div>
  <form action="" method="post">
    <input type="text" name="filtro" placeholder="digite o canal">
    <button type="submit">Pesquisar</button>
  </form>
</div>

<a href="/youtube/add">+ Título</a>

<table>
  <tr>
    <td>Título</td>
    <td>Canal</td>
    <td>Duração</td>
    <td>Visualizações</td>
    <td>Upload</td>
    <td>Ações</td>
  </tr>

  <% for (const { id, titulo, canal, duracao, visualizacoes, upload, acoes } of Youtube) { %>
    <tr>
      <td><%= titulo %></td>
      <td><%= canal %></td>
      <td><%= duracao %></td>
      <td><%= visualizacoes %></td>
      <td><%= upload %></td>
      <td><%= acoes %></td>
      <td>
        <a href="/youtube/edt/<%= id %>">Editar</a>
        <a href="/youtube/del/<%= id %>">Excluir</a>
      </td>
    </tr>
  <% } %>
</table>

<%- include('../rodape.ejs') %>
